<ion-view class="bod">
  <ion-content>
      <img src="img/logo.png" style="margin-left: 28%; margin-top:45%; position: relative; width: 43%; height: auto;"></img>


      <form>
        <div class="pack1">
          <input class="upisivanje" style="height: 58%;" type="text" placeholder="Your email" ng-model="data.email" maxlength="18" required>
        </div>

        <div class="pack1">
          <input class = "upisivanje" style="height:58%" type="password" placeholder="password" ng-model"data.password" required />
        </div>
            
        <div class="pack2">
          <button class="button button-outline button-stable" style="color:white; border-color:white; position:relative; width:50%;height:auto; font-size:120%; font-family:'nk255';" ng-click="login()">Login</button>
        </div>
      </form>

  </ion-content>
</ion-view>