<div class="bar bar-header bar-royal">
  <h2 class="title top">Make a group</h2>
</div>
<ion-content class="has-header">
    <div class="list-custom">
  <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#00818a">Group name</span>
    <input class="input-label-custom" type="text" ng-model="data.name" style="color:black;">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#00818a">Password</span>
    <input type="password" ng-model="data.password">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#00818a">Location</span>
    <input type="text" ng-model="data.location" style="color:black;">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#00818a">Date</span>
   <!-- <button class="button button-royal" ng-click="getDatePicker();">Pick a Date</button> -->
	<input type="text" ng-model="data.date" style="color:black;">
  </label>
	<label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#00818a">Description</span>
	<textarea rows="6" ng-model="data.description" style="color:black; font-size: 85%;"></textarea>
  </label>
</div>
  </ion-content>
	<button class="button button-outline button-dark rounded-a button-custom text-center" ng-click="addGroup(data)">Make a Group</button>
</ion-view>

