<div class="bar bar-header">
  <h2 class="title top">Groups</h2>
</div>
<ion-view class="body2">



   <div class="search-custom item-input-inset">
          <label class="item-input-wrapper" style="padding-right:34.5%">
            <i class="icon ion-ios-search placeholder-icon "></i>
            <input type="search" placeholder="Search" ng-change="srchchange()" ng-model="adn.item">
          </label>
          <button class="button button-clear " ng-click="ressetserach()"><i class="ion-ios-cancel assertive"></i>
            
          </button>
        </div>
	
	

  <ion-content class="has-subheader"  has-bouncing="true">
	 <div   class="list card" style="margin-top:5%; position:relative;"> 
	
	   
          <ion-item class="item" type="item-text-wrap" style="font-size:90%;" ng-click="showPopup(group.id)" ng-repeat="group in names"  data="{{names}}">  
           {{group.name}}
          </ion-item>
   
		<div ng-if="names !== undefined && !names.length" class="no-results">
      		<ion-item >No Results Found..</ion-item >
    	</div>
	
		 
		</div>
	 
  </ion-content>
</ion-view>
