
img {
    width:57%;
    height:auto;
    position:absolute;
    top:28%;
    left:22%;   
}

body {
    background-color: white;
}

.nick  {
    border-top:none;
    border-left:none;
    border-right:none;
    font-family:NK1010;
    font-size:larger;
    border-color:#808080;
    text-align:center;
    position:absolute;
    top:63%;
    left:15%;
    width:70%;
    height:auto;    
}

.button {   
    width:50%;
    height:auto;
    position:absolute;
    top:70%;
    left:25%;
}
    
#make {
    position:absolute;   
    }

#find {
    position:absolute;  
}

#my {
    position:absolute;   
}



